* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */
div.navbar {
  padding: 10px;
  box-shadow: 0px 5px 10px rgb(185, 185, 185);
}

div.navbar img.logo {
  width: 80px;
}

/* Introduction */

div.Introduction {
  padding: 30px;
}

div.Introduction h1 {
  padding: 80px 0 20px 0;
}

div.grid-holder {
  display: flex;
  justify-content: center;
}

div.grid-holder img {
  width: 60%;
}
